@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-open-sans);
}

.font-open-sans {
  font-family: var(--font-open-sans), sans-serif;
}

.font-manrope {
  font-family: var(--font-manrope), sans-serif;
}

@layer utilities {
  .container {
    @apply w-full max-w-[90rem];
  }

  .container-side-spacing {
    @apply px-6 lg:px-12;
  }
}