@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-open-sans);
}

.font-open-sans {
  font-family: var(--font-open-sans), sans-serif;
}

.font-manrope {
  font-family: var(--font-manrope), sans-serif;
}

@layer utilities {
  .container-px {
    @apply px-6 lg:px-12;
  }

  .container-w {
    @apply w-full max-w-[80rem];
  }

  .custom__scroll::-webkit-scrollbar-thumb {
    @apply bg-grey rounded-[50px];
  }
  
  .custom__scroll::-webkit-scrollbar-thumb:hover {
    @apply bg-grey;
  }
}
